*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","san-serif";
}
/* https://cdn.pixabay.com/photo/2022/12/26/11/37/bitcoin-7678812_1280.jpg */
.authContainer{
  background-image: url("https://files.oaiusercontent.com/file-GTJBCryMf2Q71AnMPLFtqn?se=2025-02-15T14%3A09%3A49Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D545a5e30-4bcc-47d3-92d5-ff50d1c3968f.webp&sig=ZN3BhjvazHh0nJFfNmxDu9YnJwhZsEvOfSQo323sl1s%3D");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.bgBlure{
  backdrop-filter: blur(10px);
}




  
 
     
