*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","san-serif";
}
/* https://cdn.pixabay.com/photo/2022/12/26/11/37/bitcoin-7678812_1280.jpg */
.authContainer{
  background-image: url("https://img.freepik.com/free-photo/cryptocurrency-coding-digital-blue-background-open-source-blockchain-concept_53876-124644.jpg?t=st=1738251438~exp=1738255038~hmac=0802c16edfbbbed3bf76293c3c900a5f6d14f931ebac26568c99b2a6f46a6a97&w=996");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.bgBlure{
  backdrop-filter: blur(10px);
}




  
 
     
